{% extends 'generic/object_edit.html' %}
{% load form_helpers %}

{% block form %}
    {% render_errors form %}
    
    <div class="field-group my-5">
      <div class="row mb-2">
        <h5 class="offset-sm-3">Server</h5>
      </div>
      {% render_field form.name %}
      {% render_field form.status %}
      {% render_field form.device_role %}
      {% render_field form.tags %}
      {% render_field form.ip_address %}
      {% render_field form.url %}
      {% render_field form.os %}
      {% render_field form.programs %}
      {% render_field form.products %}
      {% render_field form.test %}
    </div>
    
    {% if form.custom_fields %}
      <div class="field-group my-5">
        <div class="row mb-2">
          <h5 class="offset-sm-3">Custom Fields</h5>
        </div>
        {% render_custom_fields form %}
      </div>
    {% endif %}

    <div class="field-group my-5">
      <h5 class="text-center">Local Config Context Data</h5>
      {% render_field form.local_context_data %}
    </div>

    <div class="field-group mb-5">
      <h5 class="text-center">Comments</h5>
      {% render_field form.comments %}
    </div>

{% endblock %}
