{% extends 'generic/object.html' %}
{% load buttons %}
{% load static %}
{% load helpers %}
{% load plugins %}

{% block breadcrumbs %}
    {% with title="Servers" %}
        {{ block.super }}
    {% endwith %}
    <li class="breadcrumb-item"><a href="#">{{ object|linkify }}</a></li>
    {% if object.parent_bay %}
        <li class="breadcrumb-item"><a href="{% url 'dcim:device' pk=object.parent_bay.device.pk %}">{{ object.parent_bay.device }}</a></li>
        <li class="breadcrumb-item">{{ object.parent_bay }}</li>
    {% endif %}
{% endblock %}

{% block extra_tabs %}
    <li role="presentation" class="nav-item">
        <a href="{% url 'dcim:device_view_connections' pk=object.pk %}" class="nav-link{% if active_tab == 'view-connections' %} active{% endif %}">
            Connections
        </a>
    </li>
{% endblock %}
