{% extends 'generic/object.html' %}
{% load buttons %}
{% load helpers %}
{% load perms %}
{% load plugins %}

{% block breadcrumbs %}
  {{ block.super }}
  {% if object.device %}
    <li class="breadcrumb-item"><a href="{% url 'ipam:service_list' %}?device_id={{ object.device.pk }}">{{ object.device }}</a></li>
  {% elif object.virtual_machine %}
    <li class="breadcrumb-item"><a href="{% url 'ipam:service_list' %}?virtual_machine_id={{ object.virtual_machine.pk }}">{{ object.virtual_machine }}</a></li>
  {% endif %}
{% endblock %}

{% block content %}
<div class="row mb-3">
	<div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">
                Generic Information
            </h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Comments</th>
                        <td>{{ object.comments|placeholder }}</td>
                    </tr>
                </table>
            </div>
        </div>
        {% plugin_left_page object %}
    </div>
    <div class="col col-md-6">

        <div class="card">
            <h5 class="card-header">
                Management
            </h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">Protocol</th>
                        <td>{% badge object.protocol bg_color="red" %}</td>
                    </tr>
                    <tr>
                        <th scope="row">Port</th>
                        <td>
                            {% if object.port %}
                                {% badge object.port bg_color="orange" %}
                            {% else %}
                                None
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Role</th>
                        <td>
                            {% if object.device_role %}
                                {{ object.device_role|linkify }}
                            {% else %}
                                None
                            {% endif %}
                        </td>
                    </tr>
                    {% if object.cluster %}
                        <tr>
                            <th>Cluster</th>
                            <td>
                                {% if object.cluster.group %}
                                    {{ object.cluster.group|linkify }} /
                                {% endif %}
                                {{ object.cluster|linkify }}
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>

        {% include 'inc/panels/custom_fields.html' %}
        {% plugin_right_page object %}
    </div>
</div>
<div class="row mb-3">
    <div class="col col-md-12">
        {% plugin_full_width_page object %}
    </div>
</div>
{% endblock %}
