{% extends 'generic/object.html' %}
{% load buttons %}
{% load helpers %}
{% load perms %}
{% load plugins %}

{% block breadcrumbs %}
  {{ block.super }}
  {% if object.device_from %}
    <li class="breadcrumb-item">
        <a href="{% url 'ipam:connection' pk=object.pk %}">{{ object.name }}</a>
    </li>
  {% endif %}
{% endblock %}

{% block content %}
<div class="row mb-3">
	<div class="col col-md-6">
        <div class="card">
            <h5 class="card-header">
                Generic Information
            </h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">Name</th>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Comments</th>
                        <td>{{ object.comments|placeholder }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="card">
            <h5 class="card-header">
                Source Devices
            </h5>
            <div class="card-body">
                {% if devices_from %}
                    <table class="table table-hover">
                        
                        <tr>
                            <th>Commands</th>
                            <th>Name</th>
                            <th>Comments</th>
                        </tr>

                        {% for device_from in devices_from %}
                            <tr>
                                <td>
                                    <a href="{% url 'dcim:device' pk=device_from.pk %}">
                                        {% badge device_from.name bg_color="blue" %}</td>
                                    </a>
                                <td>
                                    {% if device_from.ip_address %}
                                        {{ device_from.ip_address }}
                                    {% else %}
                                        {% badge "None" bg_color="red" %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if device_from.comments %}
                                        {{ device_from.comments }}
                                    {% else %}
                                        {% badge "None" bg_color="red" %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <div class="text-muted">
                        None
                    </div>
                {% endif %}
            </div>
            {% if perms.ipam.connection_edit %}
                <div class="card-footer text-end noprint">
                    <a href="{% url 'ipam:connection_edit' pk=object.pk %}" class="btn btn-sm btn-primary">
                        <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add Source Device
                    </a>
                </div>
            {% endif %}
        </div>
        
        {% plugin_left_page object %}
    </div>

    <div class="col col-md-6">

        <div class="card">
            <h5 class="card-header">
                Management
            </h5>
            <div class="card-body">
                <table class="table table-hover attr-table">
                    <tr>
                        <th scope="row">Protocol</th>
                        <td>{% badge object.protocol bg_color="red" %}</td>
                    </tr>
                    <tr>
                        <th scope="row">Port</th>
                        <td>
                            {% if object.port %}
                                {% badge object.port bg_color="orange" %}
                            {% else %}
                                None
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Role</th>
                        <td>
                            {% if object.device_role %}
                                {{ object.device_role|linkify }}
                            {% else %}
                                None
                            {% endif %}
                        </td>
                    </tr>
                    {% if object.cluster %}
                        <tr>
                            <th>Cluster</th>
                            <td>
                                {% if object.cluster.group %}
                                    {{ object.cluster.group|linkify }} /
                                {% endif %}
                                {{ object.cluster|linkify }}
                            </td>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>

        <div class="card">
            <h5 class="card-header">
                Destination Devices
            </h5>
            <div class="card-body">
                {% if devices_to %}
                    <table class="table table-hover">
                        
                        <tr>
                            <th>Name</th>
                            <th>IP</th>
                            <th>Description</th>
                        </tr>

                        {% for device_to in devices_to %}
                            <tr>
                                <td>
                                    <a href="{% url 'dcim:device' pk=device_to.pk %}">
                                        {% badge device_to.name bg_color="blue" %}</td>
                                    </a>
                                <td>
                                    {% if device_to.comments %}
                                        {{ device_to.ip_address }}
                                    {% else %}
                                        {% badge "None" bg_color="red" %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if device_to.comments %}
                                        {{ device_to.comments }}
                                    {% else %}
                                        {% badge "None" bg_color="red" %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <div class="text-muted">
                        None
                    </div>
                {% endif %}
            </div>
            {% if perms.ipam.connection_edit %}
                <div class="card-footer text-end noprint">
                    <a href="{% url 'ipam:connection_edit' pk=object.pk %}" class="btn btn-sm btn-primary">
                        <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add Destination Device
                    </a>
                </div>
            {% endif %}
        </div>

        {% include 'inc/panels/custom_fields.html' %}
        {% plugin_right_page object %}
    </div>
</div>
<div class="row mb-3">
    <div class="col col-md-12">
        {% plugin_full_width_page object %}
    </div>
</div>
{% endblock %}
