<tr>
    <td class="text-start noprint">
        {% if perms.ipam.delete_service %}
            <a href="{% url 'ipam:service_delete' pk=service.pk %}?return_url={{ service.parent.get_absolute_url }}" class="btn btn-danger btn-sm">
                <i class="mdi mdi-trash-can-outline" title="Delete Service"></i>
            </a>
        {% endif %}
        {% if perms.ipam.change_service %}
            <a href="{% url 'ipam:service_edit' pk=service.pk %}?return_url={{ service.parent.get_absolute_url }}" class="btn btn-warning btn-sm" title="Edit Service">
                <i class="mdi mdi-pencil"></i>
            </a>
        {% endif %}
        <a href="{% url 'ipam:service_changelog' pk=service.pk %}" class="btn btn-sm btn-outline-secondary" title="Change Log">
            <i class="mdi mdi-history"></i>
        </a>
    </td>
    <td>{{ service|linkify:"name" }}</td>
    <td>{{ service.get_protocol_display }}</td>
    <td>
        {% with service.ports|split:"," as ports %}
            {% for port in ports %}
                {% badge port bg_color="orange" %}
            {% endfor %}
        {% endwith %}
    </td>
    <td>
        {% if service.description %}
            {{ service.description }}
        {% else %}
            No description given
        {% endif%}
    </td>
</tr>
